error.php linguist-language=PHP
lesson1.php linguist-language=PHP
lesson2.php linguist-language=PHP
lesson3.php linguist-language=PHP
lesson4.php linguist-language=PHP
lesson5.php linguist-language=PHP

